.photo {
	background: url(../coffe.jpg);
	
	background-position: center;
	padding-top: 20px;
	margin-top: 0;
}
.container ul{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	list-style: none;
	background: rgb(101, 67, 33);
	padding: 20px;
	margin-bottom: 0;
}
.container li {
	padding-right: 20px;
}
.flexnav  {
	display: inline;
	
}
.flexnav a {
	color: white;
	text-decoration: none;
}
.flexnav a:visited {
	color: yellow;
	text-decoration: none;
}
.photo {
	display: flex;
	flex-direction: column;
	align-items: center;

}
.photo img {
 	width: 15%;
 	
 	border: 1px solid black;
	border-radius: 50%;
}

.photo h1, .photo h3 {
	color: black;
	font-weight: bold;
	background: rgba(255,255,250, 0.5);
	border-radius: 5px;
	text-align: center;
}
main {
	background: rgba(101, 67, 33, 0.8);
}
.row-25-75 {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;

} 
.row-25-75 h2 {
   width: 15%;
   border-right: 2px solid black;
   padding-left: 10px;
}
.row-25-75 p {
 width: 75%;
 
}
.first p  {
	padding-left: 25px;
}
.row-25-75 li {
	list-style: square;
}
.row-25-75 img {
	width: 75%;
}
.third h2 {
	padding-right: 80px;
}
.third li {
	padding: 10px;
	}
footer {
	background: rgb(101, 67, 33);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 30px;
	align-items: center;
}
footer img {
	width: 50px;
	padding-right: 5px;

}
