header {
	background: url(../coffe.jpg);
	
	background-position: center;
	
}

.flexnav ul {
	display: flex;
	flex-direction: row;
	align-items: baseline;
}

.flexnav a {
	color: white;
	text-decoration: none;
}
.flexnav a:visited {
	color: yellow;
	text-decoration: none;
}
.photo {
	display: flex;
	flex-direction: column;
	align-items: center;

}
.photo img {
 	width: 20%;
 	
 	border: 1px solid black;
	border-radius: 50%;
}

.photo h1, .photo h3 {
	color: black;
	font-weight: bold;
	background: rgba(255,255,250, 0.5);
	border-radius: 5px;
	text-align: center;
}
.row-25-75 {
	display: flex;
	flex-direction: row;
}